[submodule "example/deep-learning/week1/fast-style-transfer"]
	path = example/deep-learning/week1/fast-style-transfer
	url = https://github.com/lengstrom/fast-style-transfer.git
[submodule "example/deep-learning/week1/DeepLearningFlappyBird"]
	path = example/deep-learning/week1/DeepLearningFlappyBird
	url = https://github.com/yenchenlin/DeepLearningFlappyBird.git
[submodule "example/deep-learning/week1/linear_regression_live"]
	path = example/deep-learning/week1/linear_regression_live
	url = https://github.com/llSourcell/linear_regression_live.git
[submodule "example/deep-learning/week1/DLND-your-first-network"]
	path = example/deep-learning/week1/DLND-your-first-network
	url = https://github.com/moming2k/DLND-your-first-network.git
[submodule "example/deep-learning/ebook_for_python"]
	path = example/deep-learning/ebook_for_python
	url = https://github.com/moming2k/ebook_for_python.git
[submodule "example/deep-learning/week1/week1-single-layer-neural-network"]
	path = example/deep-learning/week1/week1-single-layer-neural-network
	url = https://github.com/moming2k/week1-single-layer-neural-network.git
